#weather {
  vertical-align: top;
  text-align: right;
  padding: 14px 20px 0 0;
  position: relative;
}

#user {
  vertical-align: top;
  text-align: left;
  padding: 14px 20px 0 0;
  position: relative;
}

#icon {
  font-size: 2em;
}

#city {
  font-size: 1.2em;
}

#status {
  vertical-align: center;
  text-align: center;
  position: relative;
  font-size: 3em;
}

.line {
  fill: none;
  stroke: white;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.axis line{
  stroke: white;
}

.axis path {
  stroke: white;
}

.axis text {
  fill: white;
  font-family: helvetica;
}

body {
	margin: 0;
}

h2, h3 {
  margin: 12px;
  font-family: arial black;
}
